body {
  font-family: 'Raleway', sans-serif;
}

input {
  font-family: 'Raleway', sans-serif;
}

button {
  background-color: white;
  border: none;
  text-align: left;
  font-size: 30px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

button:hover {
  background-color: #61dafb;
}

td {
  padding: 0 15px;
  text-align: center;
}

li {
  margin-top: 10px;
}
