button {
  background-color: white;
  border: none;
  text-align: left;
  font-size: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #61dafb;
}

td {
  padding: 0 15px;
  text-align: center;
}
